<nav>
    <ul>
        <li>
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="" Match="NavLinkMatch.All" class="mr-10 font-semibold">Home</NavLink>
            <NavLink ActiveClass="text-purple-800 dark:text-purple-400" href="info" class="mr-10 font-semibold">Info</NavLink>
        </li>
    </ul>
</nav>